<div class="bg-other py-4">
  <div class="container">
    <h4>Locked</h4>
    <hr/>
    <p>Secret data(?)</p>
    <div class="table-responsive rounded">
      <table class="table table-striped">
        <thead class="thead-dark bg-main">
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Name</th>
          <th scope="col">IP</th>
          <th scope="col">Description</th>
        </tr>
        </thead>
        <tbody class="text-monospace">
        <tr *ngFor="let service of services; ">
          <th scope="row">{{service.id}}</th>
          <td>{{service.name}}</td>
          <td>{{service.ip}}</td>
          <td>{{service.description}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
