.navbar-brand .img-responsive {
  max-height: 20px;
  margin-bottom: 5px;
  cursor: pointer;
}

.navbar-toggler {
  color: white;
}

.nav-link {
  cursor: pointer;
}

.dropdown .dropdown-menu {
  background-color: #234099;
  border: none;
}

.dropdown .dropdown-menu .dropdown-item:hover {
  background-color: inherit;
}

.navbar-nav li a {
  color: white;
}

.active {
  background-color: #234099;
  color: #007bff !important;
}
