<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-main fixed-top">
    <div class="container">
      <a class="navbar-brand" (click)="collapseNavbar(); goHome()">
        <img src="../../../assets/img/logo.svg" class="img-responsive" alt="<Renner />">
      </a>

      <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
        <fa-icon [icon]="menuIcon"></fa-icon>
      </button>

      <div class="collapse navbar-collapse" [ngClass]="{ 'show': navbarOpen }">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" (click)="collapseNavbar(); scrollIntoView('contact')">Contact</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" (click)="toggleToolsDropdown()">Tools</a>
            <div class="dropdown-menu" [ngClass]="{ 'show': toolDropdownOpen }">
              <a class="dropdown-item" routerLink="/paste" routerLinkActive="active" (click)="collapseNavbar()">Paste</a>
              <a class="dropdown-item" routerLink="/base64" routerLinkActive="active" (click)="collapseNavbar()">Base64</a>
            </div>
          </li>
          <li class="nav-item" *ngIf="user">
            <a class="nav-link" routerLink="/locked" routerLinkActive="active" (click)="collapseNavbar()">Secret</a>
          </li>
          <li class="nav-item" *ngIf="user">
            <a class="nav-link" (click)="collapseNavbar(); logout()">Logout</a>
          </li>
          <li class="nav-item" *ngIf="!user">
            <a class="nav-link" routerLink="/login" routerLinkActive="active" (click)="collapseNavbar()">Login</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
