.gradient-header {
  background: rgb(52,58,64);
  background: linear-gradient(180deg, rgba(52,58,64,1) 0%, rgba(0,123,255,1) 53%, rgba(248,249,250,1) 100%);
}

.terminal-img {
  max-width: 100%;
  transition: all 1s ease-out 0s;
}

.terminal-img:hover {
  transform: scale(0, 0) rotate(1080deg);
  transition: all 5s ease-in 0.1s;
}
