.info-header {
  display: flex;
  color: white;
  text-align: center;
  background-image: url("../../../assets/img/business.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  max-height: 1080px;
}

.info-overlay {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 500px;
  height: calc(100vh - 55px);
  max-height: 1080px;
  background-size: cover;
  background: rgba(43, 43, 43, 0.5);
}

.info-text {
  padding-bottom: 1rem;
}

.info-name {
  font-size: 3rem;
  font-weight: lighter;
}

.info-about {
  font-size: 1.5rem;
  font-weight: lighter;
  opacity: .7;
}

.info-img img {
  max-width: 75%;
  transition: all 1s ease-out 0s;
}

.info-img img:hover {
  transform: scale(0, 0) rotate(1080deg);
  transition: all 5s ease-in 0.1s;
}

.info-links {
  padding-top: 1rem;
  font-size: 2rem;
}

.info-links .list-inline .list-inline-item {
  opacity: .7;
  padding: 5px;
}

/*
  add this is to fix ios cover viewport resize
  @media (width: 768px) {
  .info-header, .info-overlay {
    max-height: 800px;
  }
} */

@media (min-width: 576px) {
  .info-img img {
    max-width: 50%;
  }
}

@media (min-width: 768px) {
  .info-text {
    padding-bottom: 2rem;
  }

  .info-name{
    font-size: 5rem;
  }

  .info-about {
    font-size: 2rem;
  }

  .info-links {
    padding-top: 2rem;
    font-size: 3rem;
  }

  .info-overlay {
    min-height: 650px;
  }
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}
