a{
  color: white;
  opacity: .5;
}

a:hover {
  opacity: 1;
}

.info-header {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  background-color: #234099;
  background-image: url("../../../assets/img/business.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  max-height: 1080px;
  min-height: 500px;
  height: calc(100vh - 55px);
}

.info-text {
  padding-bottom: 1.5rem;
}

.info-name {
  font-size: 3rem;
  letter-spacing: -3px;
  font-weight: 400;
  margin-bottom: 0;
}

.info-about {
  margin-top: 0;
  font-size: 1.5rem;
  letter-spacing: -1px;
  font-weight: 300;
  opacity: .7;
}

.info-img img {
  cursor: pointer;
  max-width: 15rem;
}

.info-links {
  padding-top: 2rem;
  font-size: 2rem;
}

.info-links .list-inline .list-inline-item {
  padding: 5px;
}

/*
  add this is to fix ios cover viewport resize
  @media (width: 768px) {
  .info-header, .info-overlay {
    max-height: 800px;
  }
} */

@media (max-width: 350px) {
  .info-img img {
    max-width: 75%;
  }
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
  .info-text {
    padding-bottom: 3rem;
  }

  .info-links {
    font-size: 2.5rem;
    padding-top: 3rem;
  }

  .info-name{
    font-size: 4rem;
  }

  .info-about {
    font-size: 2rem;
  }

  .info-img img {
    max-width: 20rem;
  }

  .info-header {
    min-height: 550px;
  }

}

@media (min-width: 992px) {
  .info-img img {
    max-width: 25rem;
  }

  .info-name{
    font-size: 5rem;
  }

  .info-about {
    font-size: 2.5rem;
  }

  .info-links {
    font-size: 3rem;
  }

  .info-header {
    min-height: 700px;
  }
}

@media (min-width: 1200px) {
}
