@import "~bootstrap/dist/css/bootstrap.min.css";
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono|Montserrat:300,400,500,600');

.bg-main {
  /* background-color: #234099; */
  background-color: #234099;
}

.bg-other {
  /* background-color: #f8f9fa; */
  background-color: #f8f9fa;
}

.bg-3 {
  background-color: #04395E;
}

.bg-4 {
  background-color: #ADE25D;
}

.bg-5 {
  background-color: #FCEC52;
}

body, html {
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  height: 100%;
  margin: 0;
  padding: 0;
}

code, .text-monospace {
  font-family: 'Roboto Mono', SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !important;
}

body {
  padding-top: 55px;
  background: #234099;
}

pre code {
  color: #dc3545;
}

.btn-primary {
  background-color: #234099;
}

.btn-primary:hover {
  background-color: #0075F2;
}

a, a:hover, a:focus, a:visited, a:active {
  text-decoration: none;
}
