@import "~bootstrap/dist/css/bootstrap.min.css";

.bg-main {
  /* background-color: #234099; */
  background-color: #234099;
}

.bg-other {
  /* background-color: #f8f9fa; */
  background-color: #f8f9fa;
}

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  padding-top: 55px;
  background: #234099;
}

pre code {
  color: #dc3545;
}

a {
  text-decoration: none;
}
