@import "~bootstrap/dist/css/bootstrap.min.css";
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500');

.bg-main {
  /* background-color: #234099; */
  background-color: #234099;
}

.bg-other {
  /* background-color: #f8f9fa; */
  background-color: #f8f9fa;
}

body, html {
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  padding-top: 55px;
  background: #234099;
}

pre code {
  color: #dc3545;
}

a {
  text-decoration: none;
}
